@using identity.Models;
@using Microsoft.AspNet.Identity;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        var db = new ApplicationDbContext();
        var userId = User.Identity.GetUserId();
        var currentUser = db.Users.Where(a => a.Id == userId).SingleOrDefault();

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user">  </span>
                    <strong>Hello @currentUser.UserName</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu UserMenu">
                    <li>
                        <div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <p class="text-center" id="UserMenuImage">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-left">
                                        <strong>
                                            @currentUser.UserName
                                        </strong>
                                    </p>
                                    @if (currentUser.UserType == "publishers" || currentUser.UserType =="admin")
                                    {
                                        <a href="~/Job/index" class="btn btn-success btn-block">Jobs that you published</a>
                                        <a href="~/Home/GetJobsByPublisher" class="btn btn-success btn-block">Candidate list</a>

                                    }
                                    else
                                    {
                                        <a href="~/home/GetJobsByUser" class="btn btn-success btn-block">Jobs you applied for it</a>
                                    }
                                    <a href="~/Account/EditAccount" class="btn btn-primary btn-block">Configure compte</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-block"><i class="glyphicon glyphicon-log-out"></i> Log off</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/Account/Register" id="registerLink"> <i class="glyphicon glyphicon-user"></i> Register</a>
            @*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
        </li>
        <li>
            <a href="~/Account/Login" id="loginLink"> <i class="glyphicon glyphicon-lock"></i> Log in</a>
            @*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
        </li>
    </ul>
}
