html,
body {
    margin: 0;
    height: 100%;
}

body {
    padding-bottom: 200px;
    padding-top: 70px;
}

.container {
    min-height: 100%;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    width: 100px;
    height: 50px;
}

.navbar-brand {
    padding: 2px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #D0D0D0;
        font-size: 15px;
    }

.thumbnailJobs {
    margin: 5px;
    min-height: 250px;
}

.jumbotron {
    background-image: url('../Images/jobSearch.jpg');
    min-height: 300px;
}

h3 {
    color: #3276b1;
}

.jobImage {
    height: 70px;
    width: 70px;
}

.table tbody > tr > td {
    vertical-align: middle;
}

#myFooter {
    background-color: #3c3d41;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

    #myFooter .row {
        margin-bottom: 60px;
    }

    #myFooter .footer-copyright {
        background-color: #333333;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }

        #myFooter .footer-copyright p {
            margin: 10px;
            color: #ccc;
        }

    #myFooter h3 {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
    }

    #myFooter ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }   

    #myFooter a {
        color: #d2d1d1;
        text-decoration: none;
    }

        #myFooter a:hover,
        #myFooter a:focus {
            text-decoration: none;
            color: white;
        }

    #myFooter .social-networks {
        text-align: left;
        padding-top: 30px;
        padding-bottom: 16px;
    }

        #myFooter .social-networks a {
            font-size: 25px;
            color: #f9f9f9;
            padding: 10px 30px 10px 0;
            transition: 0.2s;
        }

            #myFooter .social-networks a:hover {
                text-decoration: none;
            }

    #myFooter .facebook:hover {
        color: #0077e2;
    }

    #myFooter .google:hover {
        color: #ef1a1a;
    }

    #myFooter .twitter:hover {
        color: #00aced;     
    }

    #myFooter .email:hover {
        color: #D0D0D0;
    }

    #myFooter .btn {
        color: white;
        background-color: #d84b6b;
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin:  0;
        line-height: 25px;
    }

@media (min-width: 768px) and (max-width: 992px) {
    /*.navbar-nav > li > a {
        font-size: 12px;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        font-size: 13px;
    }*/

    .navbar-nav > li > a {
        padding-right : 0px;
    }
}
@media (min-width: 992px) {
    .form-horizontal .control-label {
         text-align: left; 
    }
}