@model IEnumerable<JobOffers.Models.Categories>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">@Html.DisplayFor(modelItem => item.CategoryName)</div>
            <div class="panel-body">
                <div class="row">

                    @foreach (var subItem in item.Jobs)
                    {
                        <div class="col-md-3 thumbnail thumbnailJobs">
                            <img src="~/uploads/@subItem.JobImage" />
                            <h3>@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>